
.main{
 min-height: 530px;

}
#content{
	margin:0px;
}

.navbar{
.logo{
  height:50px;
  width:100%;
  img{
  padding-top:10px;
  padding-left:40px;
  }
  background-color: #FFFFFF;
  a{
  line-height: 40px;
  float:right;
  padding-bottom:0px;
  color:#000000;
  letter-spacing: 4px;
  }
}

  
  .menu-h{

   margin-left:0px;

   
  }
     a {
    color: #FFFFFF;
    text-decoration: none;

    }
 
  .dropdown-menu a {
    color: #006EBE;
    text-decoration: none;

    }
 

}
}
  .navbar{
  margin-bottom: 0px;
  box-shadow: 2px 2px 4px grey;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #FFFFFF;
    
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #FFFFFF;
    border-color: #006EBE;
}
#showfilter p{
 color:blue;
}
#showfilter p{
display:inline;
}
.no-sort::after { display: none!important; }

.no-sort { pointer-events: none!important; cursor: default!important; }

.vtext{
  color:blue;
}
	.table-header {
				position:fixed;
				top:101px;
				height: 300px;
				background:#d1e0e0;
			}
			
			.table-tbody {
				overflow: scroll;
			}
			
			.rcorners1 {
				
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
			}
			.rcorners2 {
				border-radius: 2px;
			}
			.headerright{
			float:right;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			
			}
			.headerright p{
			display:inline;
			}
			.headerright a{
	margin-right:10px;
	text-decoration: none;
}
			.inputtext{
			width:100px;
			}
			.pagination{
			  float:right;
			   margin: -10px 0px 0px 0px !important;
			}